.cartNav {
  display: flex;
}

.cartCount {
  background-color: red;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  text-align: center;
  align-content: center;
  position: relative;
  top: -5px;
  right: 13px;
}