.cartNav {
  display: flex;
}

.cartCount {
  background-color: red;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  text-align: center;
  align-content: center;
  position: absolute;
  top: 22px;
  right: 15px;
}