@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
  font-family: "Quicksand", sans-serif;;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.navbar{
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

h1, h2, h3 {
  margin: 0;
}

.navbarLeft {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
}

.logo {
  display: flex;
}

.svg {
  height: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(assets/Consumer-Electronics-L.jpeg);
  height: 100vh;
  padding-top: 150px;
  color: aliceblue;
}
  
.linkButton {
  display: flex;
  background-color: black;
  height: 50px;
  width: 150px;
  justify-content: center;  
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}